<% if(user && player.nickname == user.username){ %>

	<h1 class="player-header">My Stats</h1>

<% } else { %>
	<h1 class="player-header"><%= player.nickname %></h1>
<% } %>

<div class="player-pages">

  <form action="/players/account/<%= player.account_id %>/" method="GET">
    <input type="hidden" name="player" value="<%= player.nickname %>">
    <input type="submit" value="Career Stats" class="waves-effect waves-light btn">
  </form>

  <form action="/players/account/<%= player.account_id %>/recent-vehicles" method="GET">
    <input type="hidden" name="player" value="<%= player.nickname %>">
    <input type="submit" value="Recently Played Vehicles" class="waves-effect waves-light btn">
	</form>
	
	<form>
		<input type="submit" value="Current Grind List" class="waves-effect waves-light btn disabled-btn">
	</form>

</div>
<h6>These are the tech tree tanks that you have played in the last two weeks, that have a subsequent tank haven't been played.</h6>


<% recentTanks.forEach(function(t){ %>
	<% if (timestamp - t.last_battle_time < 1209600 && dbTanks[(t.tank_id)].tier < 10 && dbTanks[(t.tank_id)].next_tanks.length > 0){ %>
	<div class="grind-tank-display">
		<h4><%= dbTanks[(t.tank_id)] ? dbTanks[(t.tank_id)].name : 'ERROR' %>
			<span class="grind-tank-details">
				Tier <%= dbTanks[(t.tank_id)] ? dbTanks[(t.tank_id)].tier : 'ERROR' %> 
				| <%= dbTanks[(t.tank_id)] ? nation(dbTanks[(t.tank_id)].nation) : 'ERROR' %> 
				| <%= dbTanks[(t.tank_id)] ? type(dbTanks[(t.tank_id)].type) : 'ERROR' %>
			</span>
		</h4>
		<ul>
			<li>Total Battles: <%= t.all.battles %></li>
			<li>Win Rate: <%= ((t.all.wins/t.all.battles)*100).toFixed(2) %>%</li>
			<li>Last Battle Date: <%= convertDate(t.last_battle_time) %></li>
		<% } %>
		</ul>
		<form action="/tanks/show/<%= dbTanks[(t.tank_id)].id %>" method="GET">
			<input type="submit" class="grind-div-button" value="">
		</form>
	</div>
<% }) %>

<% function convertDate(stamp){ %>
	<% var months_arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']; %>
	<% var date = new Date(stamp*1000); %>
	<% var year = date.getFullYear(); %>
	<% var month = months_arr[date.getMonth()]; %>
	<% var day = date.getDate(); %>
	<% var hours = date.getHours(); %>
	<% var minutes = "0" + date.getMinutes(); %>
	<% var seconds = "0" + date.getSeconds(); %>
	<% var displayDate = month+'-'+day+'-'+year+' '+hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2); %>
	<% return displayDate %>
<% } %>

<% function type(t){ %>
	<% if (t == 'lightTank'){ %>
		<% return 'Light Tank' %>
	<% } else if (t == 'mediumTank'){ %>
		<% return 'Medium Tank' %>
	<% } else if (t == 'heavyTank'){ %>
		<% return 'Heavy Tank' %>
	<% } else if (t == 'AT-SPG'){ %>
		<% return 'Tank Destroyer' %>		
	<% } else if (t == 'SPG'){ %>
		<% return 'Artillery' %>
	<% } %>
<% } %>

<% function nation(n){ %>
	<% if (n == 'usa'){ %>
		<% return 'USA' %>
	<% } else if (n == 'ussr'){ %>
		<% return 'USSR' %>
	<% } else if (n == 'germany'){ %>
		<% return 'Germany' %>
	<% } else if (n == 'uk'){ %>
		<% return 'UK' %>		
	<% } else if (n == 'china'){ %>
		<% return 'China' %>
	<% } else if (n == 'japan'){ %>
		<% return 'Japan' %>
	<% } else if (n == 'france'){ %>
		<% return 'France' %>
	<% } else if (n == 'sweden'){ %>
		<% return 'Sweden' %>
	<% } else if (n == 'italy'){ %>
		<% return 'Italy' %>						
	<% } else if (n == 'poland'){ %>
		<% return 'Poland' %>
	<% } else if (n == 'czech'){ %>
		<% return 'Czech' %>		
	<% } else if (n == 'merc'){ %>
		<% return 'Mercenary' %>
	<% } %>
<% } %>

