<div class="container">

	<h1><%= player.nickname %>'s Career Stats</h1>
	<a href="#"><h4>Vehicles</h4></a>

	<table>
        <thead>
          <tr>
              <th>All Time</th>
              <th>Stats</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Trees Cut</td>
            <td><%= player.statistics.trees_cut %></td>
          </tr>
          <tr>
            <td>Win Rate</td>
            <td><%= ((player.statistics.all.wins/player.statistics.all.battles)*100).toFixed(2) %></td>
          </tr>
          <tr>
            <td>Battles</td>
            <td><%= player.statistics.all.battles %></td>
          </tr>
          <tr>
            <td>Wins</td>
            <td><%= player.statistics.all.wins %></td>
          </tr>
          <tr>
            <td>Losses</td>
            <td><%= player.statistics.all.losses %></td>
          </tr>
          <tr>
            <td>Draws</td>
            <td><%= (player.statistics.all.battles - player.statistics.all.wins - player.statistics.all.losses) %></td>
          </tr>
          <tr>
            <td>Survival Rate</td>
            <td><%= ((player.statistics.all.survived_battles/player.statistics.all.battles)*100).toFixed(2) %></td>
          </tr>
          <tr>
            <td>Player Rating</td>
            <td><%= player.global_rating %></td>
          </tr>
          <tr>
            <td>Most XP</td>
            <td><%= player.statistics.max_xp %> XP in the <%= tanks[player.statistics.max_xp_tank_id].name %></td>
          </tr>
          <tr>
            <td>Most Damage</td>
            <td><%= player.statistics.max_damage %> damage in the <%= tanks[player.statistics.max_damage_tank_id].name %></td>
          </tr>
          <tr>
            <td>Most Kills</td>
            <td><%= player.statistics.max_frags %> in the <%= tanks[player.statistics.max_frags_tank_id].name %></td>
          </tr>
          <tr>
            <td>Last Battle</td>
            <td><%= convertDate(player.last_battle_time) %></td>
          </tr>
          <tr>
            <td>Tanking Since</td>
            <td><%= convertDate(player.created_at) %></td>
          </tr>
        </tbody>
      </table>
</div>

<% function convertDate(stamp){ %>
	<% var months_arr = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']; %>
	<% var date = new Date(stamp*1000); %>
	<% var year = date.getFullYear(); %>
	<% var month = months_arr[date.getMonth()]; %>
	<% var day = date.getDate(); %>
	<% var hours = date.getHours(); %>
	<% var minutes = "0" + date.getMinutes(); %>
	<% var seconds = "0" + date.getSeconds(); %>
	<% var displayDate = month+'-'+day+'-'+year %>
	<% return displayDate %>
<% } %>