<h2>My Profile</h2>
<% if(!user.username){ %>
	<form action="/profile/username" method="GET">
		<label for="username">Your World of Tanks Xbox Username</label>
		<input type="text" name="username">
		<input type="hidden" name="email" value="<%= user.email %>">
		<input type="submit" value="Submit">
	</form>
<% } else { %>
	<h4><%= user.username %></h4>
<% } %>

<div>
	<form action="/players/account/<%= user.account_id %>" method="GET" class="player-page-button">
	  <input type="hidden" name="player" value="<%= user %>">
	  <input type="submit" value="My Career Stats" class="waves-effect waves-light btn">
	</form>

	<form action="/players/account/<%= user.account_id %>/recent-vehicles" method="GET" class="player-page-button">
	  <input type="hidden" name="player" value="<%= user %>">
	  <input type="submit" value="My Recently Played Vehicles" class="waves-effect waves-light btn">
	</form>

	<form action="/players/account/<%= user.account_id %>/current-grind" method="GET" class="player-page-button">
	  <input type="hidden" name="player" value="<%= user %>">
	  <input type="submit" value="My Vehicles to Grind" class="waves-effect waves-light btn">
	</form>
</div>


<img src="<%= user.image %>" class="profile-pic">